
@{
    ViewBag.Title = "DeleteUser";
}

<h2>DeleteUser</h2>
<p>Are you sure you want to permanently delete user @Model.Firstname @Model.Lastname?</p>
@Html.ActionLink("Delete", "DeleteUserPost", "ManageUsers");

