
@{
    ViewBag.Title = "SuccessfulAdd";
}

<h2>User added successfully</h2>
@Html.ActionLink("Go to users list", "ViewUsers", "ManageUsers")
@Html.ActionLink("Add another user", "AddUser", "ManageUsers")

