@using MoodDetectorWebApp.Models

@model LoginModel



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <head>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>

    <div class="row mt-5 mb-3">
        
        <div class="col-lg-11 col-sm-10 col-9">@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Username", @class = "form-control" } })</div>
    </div>
    <div class="row mb-3">
      
        <div class="col-lg-11 col-sm-10 col-9">@Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })</div>
    </div>
    
    <input type="submit" value="Login" />


}