.message-recipient {
    font-weight: bold
}

.message-title {
    font-style: italic;
    font-weight: 500;
}

.message-content {
    word-break: break-all;
}

.message-expiration {
    color: #5b0000
}